.dashboard .container .cards {
   display: flex;
   justify-content: space-between;
   margin: 0rem 4rem;
}

.dashboard .container .cards .card {
    box-shadow: 2px 2px 2px 2px rgb(132, 131, 131);
    border-radius: .5rem;
    margin: 25px 50px;
    text-align: center;
}

.dashboard .container .cards .card img{
    width: 100%;
}


