/*-----------------Bottom-Nav----------------------------*/

.homepage .bottom-nav  {
    background-color: rgb(4, 58, 30);;
    margin: 0;
    padding: 0;
    height: 22rem;
}


.homepage .bottom-nav a{
    color: white;
}

.homepage .bottom-nav .container-main  {
    margin: 0rem 8rem;
}


.homepage .bottom-nav .container-main .heading h2{
    margin:  1rem 0rem;
    color: white;
    
}

.homepage .bottom-nav .container-main .bottom-nav-tabs .container{
    display: flex;
    justify-content: space-between;
    
}


.homepage  .container-main .bottom-nav-tabs .container .tab h3{
    margin: 2rem 0rem;
    color: white;
    
}


.homepage  .container-main .bottom-nav-tabs .container .tab .item{
    margin: 1rem 0rem;
    color: white;
}

.homepage  .container-main .copywrite-content{
    margin: 2rem 0rem;
    color: white;
    display: flex;
    justify-content: space-between;
}

.homepage  .container-main .copywrite-content .bar{
    border: 1px solid rgb(255, 255, 255);
    margin: 0rem .5rem;
}